<div class="container">
  <img [src]="event?.imageUrl" [alt]="event?.name" class="event-image" />
  <div class="row">
    <div class="col-md-11">
      <h2>{{event?.name | uppercase}}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div>
        <strong>Date:</strong> {{event?.date | date}}
        <strong>Time:</strong> {{event?.time}}
        <strong>Price:</strong> {{event?.price | currency:'KZT'}}
      </div>
    </div>
    <div class="col-md-6">
      <address>
        <strong>Address:</strong><br/>
        {{event?.location?.address}}<br />
        {{event?.location?.city}}, {{event?.location?.country}}
      </address>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-2">
      <h3 style="margin: 0">Sessions</h3>
    </div>
    <div class="col-md-7">
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="sort === 'name'" (click)="sort='name'">Name</button>
        <button class="btn btn-default" [class.active]="sort === 'votes'" (click)="sort='votes'">Votes</button>
      </div>
      <span> | </span>
      <div class="btn-group btn-group-sm">
        <button class="btn btn-default" [class.active]="filter === ''" (click)="filter=''">All</button>
        <button class="btn btn-default" [class.active]="filter === 'beginner'" (click)="filter='beginner'">Beginner</button>
        <button class="btn btn-default" [class.active]="filter === 'intermediate'" (click)="filter='intermediate'">Intermediate</button>
        <button class="btn btn-default" [class.active]="filter === 'advanced'" (click)="filter='advanced'">Advanced</button>
      </div>
    </div>
    <div class="col-md-2">
      <a (click)="addSession()">Add Session</a>
    </div>
  </div>

  <session-list [eventId]="event?.id" *ngIf="!addMode" [filter]="filter" [sort]="sort" [sessions]="event?.sessions"></session-list>
  <create-session *ngIf="addMode" (saveNewSession)="saveNewSession($event)" (cancelCreateSession)="cancelNewSession()"></create-session>
</div>
